<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Student Management System</h1>

    <div class="buttons">
        <a href="/add">
            <button>Add Student</button>
        </a>

        <a href="/students">
            <button>View Students</button>
        </a>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>